.hb-BeerItemCard {
	min-height: 250px !important;
}

.hb-BeerItemCard:hover {
	background: $blue-secondary;
}
  
.hb-BeerItemCard-image {
  max-height: 200px;
}
  
.hb-BeerItemCard-tagline {
  color: $orange-primary;
}
  